body,
html {
  height: 100%;
  background: #f2f4f4;
}
nav {
  background: #24292e;
}
.nav-cont {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 auto;
}
.logo {
  width: 32px;
  height: 32px;
  padding-right: 20px;
}
.logo-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.link a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
}

.link a:hover {
  border-bottom: 4px solid white;
}

.container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 1%;
  margin-bottom: 4%;
}
.card img {
  width: 80%;
  height: auto;
}
